
<div class="banner shadow" style="background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');"><div class="mb-5 banner-text"><h1 class="pb-1 m-0" data-controller="hello">Save any kind of movies</h1>
  <%= link_to "Start", new_list_path, class: "btn btn-primary mt-4 px-5" %>
  <%  %>
  </div>


</div></div>


<div class="container">
          <div style="display: flex; justify-content: flex-end;">
          </div>
    <div class="my-3 mx-5" style="display: flex; justify-content: space-between; align-tiems: center;">
        <div class="space-it collapse"></div>
         <%= form_with url: lists_path, method: :get, html: { class:
          'stretch space-it', data: { search_movies_target: 'form' } } do |f| %>
          <%= f.hidden_field(:list_id, :value => params[:list_id])%>  
          <%= f.text_field :query,
                          class: "center-text form-control",
                          placeholder: 'Browse lists and contents',
                          value: params[:query]
                          %>
                          <div class="flex">
                          <div class="center">
                          or
                          </div>   
                          <%= link_to "Add a list", new_list_path, class: 'btn btn-primary mt-2 mobile-only', style: 'margin: auto;' %>   
                          </div>
                          <% end %>
          <div id="front-add-list">
            <%= link_to "Make a list!", new_list_path, id:"add-list", class:"btn btn-primary white" %>              
          </div>
  </div>

  <div class="row mb-5">

    <div class="if-no-movie">
      <p style="<%= @lists.count == 0 ? 'height: 50vh; display: flex; align-items: center; justify-content: center;' : 'display: none' %>">
      <% if @lists.count == (0) %>
      <a href="/lists/new" class="btn">Wanna add a list?</a>
      <% else %>
      <% end %>
      </p>
    </div>

    <% @lists.each do |list| %>
      <div class="col-lg-4 col-md-4 col-sm-12 my-3">
      <a href="<%= list_path(list) %>" style="text-decoration: none;">
          <div class="my-card" style=" background-image: url('https://picsum.photos/2000/3000?<%= rand(1..500) %>');">

                <h3 class="col btn white index-shadow" style= "padding: 0; text-decoration: none; font-weight: bold;"><%= list.name.capitalize %></h3>
                <%# <%= link_to list.name.capitalize, list_path(list), class: "col btn white index-shadow", style: "padding: 0;" %> 

          </div>
        </a>
        <div class="add-direct-div">
                <%# <%= link_to "+" , new_list_bookmark_path(list), class: "add-direct-btn white kill-decoration index-shadow" %>
        </div>
      </div>
    <% end %>
  </div>
              <div class="test-test center kill-decoration my-3">
             <%= will_paginate @lists %>
             </div> 
</div>
