<div class="mb-0 banner-show" style="background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');">
    <h1 class="my-5 mobile-only" id="list-name-show">
      <%= @list.name.capitalize %>
    </h1>
</div>


<div class="container">
  <div class="center align my-3" style="justify-content: space-between;">
    <a href="/lists" class = "btn back-btn-txt kill-decoration black lighter mobile-only" style="padding-left: 0;" id = "back-btn">
      <i class="fa-solid fa-angles-left"></i>
      Back
    </a>
    <div class="flex">     
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-primary mobile-only', style: 'margin: auto;' %>   
    </div>
  </div>
  <div class="above-lists-contents mb-3">
    <div class="stretch-it collapse-flex" style="display: flex;">
    <div class="above-list-left">
      <div class="back-btn">
      <a href="/lists" class = "btn back-btn-txt kill-decoration black lighter" style="padding-left: 0;" id = "back-btn">
      <i class="fa-solid fa-angles-left"></i>
      </div>
      <h3 class="btn banner-btn-kill lighter counter" style="padding-left: 0;">
        (<%=@list.movies.count%>) <%=@list.movies.count == 1 ?  'movie' : 'movies' %>
      </h3>
    </div>
    </a>
    </div>
     <div class="stretch stretch-it">
        <%= form_with url: list_path(@list), method: :get, html: { class:
          'col col-md-4', style: 'margin: auto', data: { search_movies_target: 'form' } } do |f| %>
          <%= f.hidden_field(:list_id, :value => params[:list_id])%>  
          <%= f.text_field :query,
                          class: "center-text form-control",
                          placeholder: 'Search your movies',
                          value: params[:query]
                          %>
                          <% end %>
     </div>
      <div class="stretch-it collapse">
      <div id="add-movie-btn"><%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary color-white" %></div>
      </div>
  </div>


    <div class="if-no-movie center">
      <p style="text-align: center;<%= @list.movies.count == 0 ? 'height: 50vh; display: flex; align-items: center; justify-content: center;' : '' %>">
        <% if @list.movies.count == (0) %>
        <a href="/lists/<%= @list.id %>/bookmarks/new" class="btn">Browse selection</a>
        <% else %>
        <% end %>
      </p>
    </div>
   <div class="wow row justify-content-center">


    <% @bookmarks.each do |bookmark| %>
      <div class="col col-md-4 col-lg-4 mt-3" data-controller="index">
        <div class="card-trip mb-5">
         <a href="#" data-action="click->index#display" data-index-target="image1">
            <%= image_tag bookmark.movie.poster_url, class: "poster" %>
        </a>
        <a href="#" data-action="click->index#hide" data-index-target="image2" class="d-none">
            <%= image_tag bookmark.movie.poster_url, class: "poster" %>
        </a>
          <h2 class="my-3 no-underline" id="card-title"><%= bookmark.movie.title %></h2>
          <div class="card-trip-infos d-none" data-index-target="infos">
            <div>
              <p class="overview overflow-scroll mt-2"><%= bookmark.movie.overview %></p>
            </div>
              <div class="card-bottom mb-2 mt-3">
                <span class="comment"><i class="fas fa-quote-left"></i> <%= bookmark.comment.strip %></span>
                  <h2 class="card-trip-pricing no-underline"><%= 'â­' * bookmark.movie.rating.to_i.round  %> </h2>
            </div>
            <div style="display: flex; justify-content: flex-end;">
                  <%= button_to "Delete", bookmark_path(bookmark.id), method: :delete, style: "color: red;",class: "text-small kill-decoration ew", id: "delete-card",data: { confirm: 'Are you sure?' } %>           
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
             <div class="test-test center kill-decoration my-3">
             <%= will_paginate @bookmarks %>
             </div> 
