<div data-controller="search-movies">
  <div class="container">
    <div class="row">
      <div class="col col-md-4 center" style="margin: auto; width: fit-content;">
        <h1 class="my-5"  >📣 🍿 Movies 🎬 📸</h1>
      </div>
                            </div>
      <div class="center">
        <div class="space-it mx-3">
          <%= link_to "<<", list_path(@list), class: "btn kill-link kill-decoration", style: "padding-left: none!important;" %>
        </div>
          <%= form_with url: list_movies_path, method: :get, html: { class:
            'space-it center margin-auto', data: { search_movies_target: 'form' } } do |f| %>
            <%= f.hidden_field(:list_id, :value => params[:list_id])%>  
            <%= f.text_field :query,
                            class: "center-text form-control",
                            placeholder: 'Search',
                            value: params[:query],
                            data: {
                              search_movies_target: 'input',
                            action: 'keyup->search-movies#update'
                          } %>
                            <% end %>
          <div class="space-it"></div>
        </div>
  <div class="display" data-search-movies-target="list">
  <%= render "movies/list" %>
</div>
</div>
